<?xml version="1.0" ?>
<config>
    <modules>
        <Pinta_Mobileapi>
            <version>0.0.1</version>
        </Pinta_Mobileapi>
    </modules>
    <frontend>
        <routers>
            <pintamobileapi>
                <use>standard</use>
                <args>
                    <module>Pinta_Mobileapi</module>
                    <frontName>pinta-mobile-api</frontName>
                </args>
            </pintamobileapi>
        </routers>
        <events>
            <sales_order_place_after>
                <observers>
                    <Pinta_Mobileapi_order_observer>
                        <!--<type>singleton</type>-->
                        <type>model</type>
                        <class>pintamobileapi/observer</class>
                        <method>sendNotifications</method>
                    </Pinta_Mobileapi_order_observer>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
    <global>
        <models>
            <pintamobileapi>
                <class>Pinta_Mobileapi_Model</class>
                <resourceModel>pintamobileapi_resource</resourceModel>
            </pintamobileapi>
            <pintamobileapi_resource>
                <class>Pinta_Mobileapi_Model_Resource</class>
                <entities>
                    <table_mobileapi>
                        <table>user_token_mob_api</table>
                    </table_mobileapi>
                    <table_mobileapiuserdevices>
                        <table>user_device_mob_api</table>
                    </table_mobileapiuserdevices>
                </entities>
            </pintamobileapi_resource>

        </models>
        <resources>
            <pintamobileapi_setup>
                <setup>
                    <module>Pinta_Mobileapi</module>
                </setup>
            </pintamobileapi_setup>
        </resources>
    </global>
</config>