<?xml version="1.0"?>
<config>
    <modules>
        <Wdevelop_HelloWorld> <!-- {ModuleNamespace}_{ModuleName} -->
            <version>0.1.0</version><!-- Module version -->
        </Wdevelop_HelloWorld>
    </modules>
    <frontend>
        <routers>
            <helloworld> <!-- {modulename} -->
                <use>standard</use> <!-- [standard|admin], мы будем использовать standard т.к. это модуль для фронтенда -->
                <args>
                    <module>Wdevelop_HelloWorld</module> <!-- {ModuleNamespace}_{ModuleName} -->
                    <frontName>helloworldurl</frontName>  <!-- Это URL модуля, т.е. по адресу magento.local/helloworldurl будет доступен новый модуль. -->
                </args>
            </helloworld>
        </routers>
    </frontend>
</config>